@import url('./css/layout/normalize.css');
@import url('./css/layout/base.css');

@import url('./css/blocks/header.css');
@import url('./css/blocks/logo.css');
@import url('./css/blocks/menu.css');
@import url('./css/blocks/contacts.css');
@import url('./css/blocks/preview.css');
@import url('./css/blocks/button.css');
@import url('./css/blocks/tours.css');
@import url('./css/blocks/about.css');
@import url('./css/blocks/news.css');
@import url('./css/blocks/paginator.css');
@import url('./css/blocks/footer.css');
@import url('./css/blocks/breadcrumbs.css');
@import url('./css/blocks/services.css');
@import url('./css/blocks/inner.css');


.main-page-wrapper {
  background: url("./img/bg/hero.jpg") center top no-repeat, url("./img/bg/bottom-pic.jpg") right bottom 250px no-repeat;
}


/* servises page */


.top-line {
  min-height: 409px;
  background: #001821 url("./img/bg/headline.jpg") center top no-repeat;
  display: flex;
  flex-direction: column;
}

.top-line__conteiner {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 24px;
}

.page-title {
  font-size: 72px;
  line-heigh: 1;
  font-weight: bold;
}
