.top-line {
  min-height: 409px;
  background: #001821 url("../../img/bg/headline.jpg") center top no-repeat;
  display: flex;
  flex-direction: column;
}

.top-line__conteiner {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 24px;
}

.page-title {
  font-size: 72px;
  line-heigh: 1;
  font-weight: bold;
}