.button {
  background:#F5170E;
  border-radius: 35px;
  padding: 18px 39px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.button--color--white {
  background: #FFFFFF;
  padding: 18px 29px;
  color: #F5170E;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  border-color: #F5170E;

}

.button--color--white:hover {
  background: #F5170E;
  color: #FFFFFF;
}

.button--white {
  background: #FFFFFF;
  padding: 18px 39px;
  color: #F5170E;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  border-color: #F5170E;
}

.button--white:hover {
  background: #F5170E;
  color: #FFFFFF;
}