.button {
  background:#F5170E;
  border-radius: 35px;
  padding: 18px 39px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  transition: background 0.7s;
  outline: none;
}

.button:hover {
  background: #DA0100;
} 

.button--color--white {
  background: #FFFFFF;
  padding: 18px 29px;
  color: #F5170E;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid #F5170E;
  border-color: #F5170E;
  transition: background, color 0.7s, 0.7s;
}

.button--color--white:hover {
  background: #F5170E;
  color: #FFFFFF;
}

.button--white {
  background: #FFFFFF;
  padding: 18px 39px;
  color: #F5170E;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  border: 1px solid #F5170E;
  border-color: #F5170E;
  transition: background, color 0.7s, 0.7s;
}

.button--white:hover {
  background: #F5170E;
  color: #FFFFFF;
}

.button--color--grey {
  background:#2B2B2B;
  transition: background 0.7s;
}

.button--color--grey:hover {
  background: #8E8E8E;
}

.button--welcome {
  background:#F5170E;
  border-radius: 35px;
  padding: 18px 58px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  transition: background 0.7s;
}
  
.button--welcome:hover {
  background: #DA0100;

}