.footer-container__section {
  height: 133px;
}

.footer-container__content {
  border-top: 1px solid #FFFFFF;
}

.footer-container {
  margin-top: auto;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col-align--right {
  justify-content: flex-end;
}

.social {
 margin-right: 74px;
}

.social__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  text-decoration: none;
  height: 36px;
  width: 36px;
  background: center center no-repeat;
  position: relative;
  opacity: .5s;
  transition: .3s;
}

.social__link:after {
  position: absolute;
  background: url('../../img/icons/socials/sprites.png');
  content:"";
  display: block;
  width: 36px;
  height: 36px;
}

.social__link:hover {
  opacity: 1;
}

.social__item--icon--insta .social__link:after {
  background-position: 270px -10px;
}

.social__item--icon--fb .social__link:after {
  background-position: -66px -10px;
}

.social__item--icon--vk .social__link:after {
  background-position: 46px -10px;
}

.social__item--icon--telegram .social__link:after {
  background-position: 158px -10px;
}




.social__item--icon--insta .social__link:hover:after {
  background-position: -122px -10px;
}

.social__item--icon--fb .social__link:hover:after {
  background-position: -10px -10px;
}

.social__item--icon--vk .social__link:hover:after {
  background-position: -346px -10px;
}

.social__item--icon--telegram .social__link:hover:after {
  background-position: -234px -10px;
}