.form__row {
  display: flex;
  margin-bottom: 28px;
}

.form__input {
  flex: 1;
  margin-right: 28px;
  border-radius: 4px;
  border: 1px solid transparent;
  background: #FFFFFF;
  padding: 20px 30px;
  font-size: 18px;
  color:#1A1B1E;
  outline: none;
}

.form__input::placeholder {
  color: #666666;

}

.form__input:last-child {
  margin-right: 0;
}

.form__input:focus {
  border: 1px solid #F5170E;
}

.form__input--textarea {
  height: 235px;
}

.form__controls {
  display: flex;
  margin-bottom: 32px;
}

.controls__elem {
  cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag {
  background: #B9EAE4;
}

.controls__checkbox {
  display: none;
}

.form__buttons {
  display: flex;
  justify-content: flex-end;
}

.form__button {
  margin-right: 17px;
  margin-bottom: 51px;
}

.form__button:last-child {
  margin-right: 0;
}

.form__controls-title {
  width: 33%;
  margin-right: 60px;
  font-size: 18px;
  margin-top: 6px;
}

.controls {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -13px;
  margin-top: -5px;
}

.controls__item {
  margin-bottom: 10px;
  margin-right: 10px;
}

.reviews__title {
  margin-top: -33px;
  margin-bottom: 58px;
}