.inner-section {
  background: #FFFFFF;
  color: #1A1B1E;
  padding: 90px 0 46px;
}

.inner-section--bg--grey {
  background: #F4F5F5;
}

.inner-section__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 100px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.partners__item {
  margin-bottom: 49px;
  min-width: 24%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.partners__item:nth-child(4n+1) {
  margin-left: 0;
  justify-content: flex-start;
}

.partners__item:nth-child(4n) {
  justify-content: flex-end;
}

.partners__link {
  text-decoration: none;
  display: flex;
  height: 67px;
  align-items: center;
  filter: grayscale(100%);
  transition: grayscale 1s;
}

.partners__link:hover {
  filter: grayscale(0);
}

.inner-footer__conteiner {
  padding: 45px 0;
}

.inner-footer {
  margin-top: auto;
}