.preview {
  width: 520px;
  margin-bottom: 244px;
}

.preview__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.35;
  margin-bottom: 27px;
}

.preview__descreption {
  font-size: 18px;
  margin-bottom: 30px;
}
